<h1>About Word Count</h1>

<p>
  This website is part of a course to learn Django. It is performing a basic
  function to demonstrate usage. So far, the course seems OK. The instructor
  is a bit of a boob that likes to say the word boom a lot.
  <br /><br />
  Boom!
</p>

<a href="{% url 'home' %}">Get me outta here!</a>
