<h1>Word Count Results</h1>

<a href="{% url 'home' %}">Start again</a>

<h4>What you entered ({{ count }} words):</h4>
<p>
  {{ fulltext }}
</p>
<h4>Index:</h4>
{% if count > 0 %}
<ul>
  {% for word, total in index %}
  <li>
    {{ word }} - {{ total }}
  </li>
  {% endfor %}
</ul>
{% endif %}
