<h1>Word Count</h1>

<!-- {{ greeting }} -->

<form action="{% url 'count' %}">
  <textarea cols="40" rows="5" name="fulltext"></textarea><br />
  <input type="submit" value="Count!" />
</form>

<a href="{% url 'about' %}">About this page</a>
